p {
  font-family: Lato;
}
.box1 {
  width: auto;
  height: auto;
  border: 1px solid red;
}

.box2 {
  width: 100px;
  height: 200px;
  border: 1px solid green;
}

.span1 {
  color: red;
}

.span2 {
  color: yellow;
}
